<!DOCTYPE html>
<html>
  <head>
    <title>Crispy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  	<%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>
  <body class="skin-blue-light sidebar-mini sidebar-open">
  	<div class="wrapper">
	    <%= render 'layouts/navigation/layout'%>
		<div class="content-wrapper">
			<%= yield %>
	    </div>
	    <%= render 'layouts/navigation/footer' %>
      <%= render 'layouts/navigation/controlsidebar' %>
	</div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>