<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
      </div>
      <div class="pull-left info">
        <p>
          James W. Li
        </p>
        <a href="#">
          <i class="fa fa-circle text-success">
          </i>Online
          </a>
      </div>
    </div>
    <form action="#" class="sidebar-form" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text" />
        <span class="input-group-btn">
        <button class="btn btn-flat" id="search-btn" name="search" type="submit">
        <i class="fa fa-search">
        </i></button></span>
      </div>
    </form>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">
        Navigation Menu
      </li>
      <li>
        <%= link_to root_path, :class=>"" do%>
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-video-camera"></i>
          <i class="fa fa-angle-left pull-right"></i>
          <span>Streams</span>
        </a>
        <ul class="treeview-menu">
          <% @streams.each do |stream| %>
            <li>
              <%= link_to stream.name, stream_path(stream) %>
            </li>
          <% end %>          
        </ul>
      </li>
      <li>
        <%= link_to "#", :class=>"" do%>
          <i class="fa fa-bolt"></i>
          <span>Static</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to "#", :class=>"" do%>
          <i class="fa fa-bomb"></i>
            <span>Dynamic</span>
            <i class="fa fa-angle-left pull-right">
            </i>
            <ul class="treeview-menu">
              <% @streams.each do |stream| %>
              <li>
                <%= link_to stream.name, "#" %>
              </li>
            <% end %> 
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to "#", :class=>"" do%>
          <i class="fa fa-car"></i>
          <span>Video</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", :class=>"" do%>
          <i class="fa fa-user"></i>
          <span>SenseID</span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>